//Comment
/*another comment*/
#a third comment
#The config language currently understands float, int, bool, and string types
#in both single value and array format
#variables defined outside a context (i.e. {} brackets) are not allowed

#The TopTagger section holds configuration properties for the top tagger object
TopTagger
{
    #The module variable defines which modules will be run
    #and in which order
    #If a module is included more than once the context variable sets
    #the name to use below for its option set

    #Cluster constituents into candidates
    module[0] = "TTMNanoAODClusterAlgo"

    #Add initial candidates to top list
    module[1] = "TTMDiscriminatorFilter"
    module[2] = "TTMAK8TopFilter"
    context[2] = "TTMAK8TopFilter_Top"
    module[3] = "TTMAK8TopFilter"
    context[3] = "TTMAK8TopFilter_W"

    #Clean out tops with overlapping candiates
    module[4] = "TTMOverlapResolution"
    context[4] = "TTMOverlapResolution_monojet"

    module[5] = "TTMOverlapResolution"
    context[5] = "TTMOverlapResolution_W"

    module[6] = "TTMOverlapResolution"
    context[6] = "TTMOverlapResolution_Resolved"

    #do the final sort of the top list
    module[7] = "TTMFinalSort"
}
#The Common section holds config info or constants which may be needed
#in multiple modules
Common
{
    #basic constants
    mW = 80.385
    mt = 173.5

    #eta cut applied to all final tops
    maxTopEta = 2.0
    #matching criterion between AK8 subjets and AK4 jets
    dRMatch = 0.4
    dRMatchAK8 = 0.8
}
#Below we have a section for each module specified above to define
#the module specific options
TTMNanoAODClusterAlgo
{
    #Resolved tagger Variables
    doTrijet = true

    #Boosted top tagger parameters
    doMonojet = true
    minAK8TopMass = 105
    maxAK8TopMass = 999999
    deepAK8TopDisc = 0.9377
    minAK8TopPt = 400

    #Boosted W tagger parameters
    doMonoW = true
    minAK8WMass = 65
    maxAK8WMass = 999999
    deepAK8WDisc = 0.9530
    minAK8WPt = 200
}
TTMDiscriminatorFilter
{
    #DNN parameters
    discCut = 0.92
    discSlope = 0.0000
    discOffset = 1.0
    type = 3

    #b-counting parameters used to suppress fakerate for high Nb
    bdiscThreshold = 0.8484
    bEtaCut = 2.4
    maxNbInTop = 1
}
TTMAK8TopFilter_Top
{
    type = 1
}
TTMAK8TopFilter_W
{
    type = 4
}
TTMOverlapResolution_Resolved
{
    NConstituents = 3
    sortMethod = "mvaDisc"
}
TTMOverlapResolution_monojet
{
    NConstituents = 1
    sortMethod = "mvaDisc"
}
TTMOverlapResolution_W
{
    NConstituents = 4
    sortMethod = "mvaDisc"
}
TTMFinalSort
{
    sortMethod = "topPt"
}
